@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #F5F5F5;
  color: #333333;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}
*,
*::after,
*::before{
  box-sizing: border-box;
}
a{
  color: #333;
  text-decoration: none;
}
li{
  list-style: none;
}
img{
  max-width: 100%;
  height: auto;
}

/* ハンバーガーここから */
.ham{
  position: fixed;
  top: 3%;
  right: 2%;
  width: 35px;
  height: 25px;
  cursor: pointer;
  z-index: 100;

  display: none;
}
.ham span{
  width: 100%;
  height: 4px;
  background-color: #333333;
  position: absolute;
  top: 0;
  right: 0;
  transition: .3s;
}
.ham span:nth-of-type(2){
  top: 10px;
}
.ham span:nth-of-type(3){
  top: 20px;
}
/* js click js ham scroll */
.ham.hamColorAdd span {
  background-color: #168AD3;
}

.ham.clickAction span:nth-of-type(1) {
  transform: rotate(-45deg);
  top: 11px;
}
.ham.clickAction span:nth-of-type(2) {
  opacity: 0;
}
.ham.clickAction span:nth-of-type(3) {
  transform: rotate(45deg);
  top: 11px;
}
/* ナビメニュー */
ul.hamNav {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 99;
  width: 75%;
  height: 100vh;
  overflow-y: auto;
  background-color: #333333;
  opacity: .9;
  transition: .6s;
}
ul.hamNav{
  padding-top: 100px;
  height: 100vh;
  color: #F5F5F5;
  padding-left: 20px;
}
ul.hamNav li {
  width: 95%;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 2px solid #F5F5F5;
  margin-bottom: 25px;
  position: relative;
}
ul.hamNav li i{
  font-size: 25px;
  padding-right: 10px;
}
ul.hamNav a{
  display: block;
  color: #F5F5F5;
  padding-left: 2%;
  font-size: 19px;
  letter-spacing: 2px;
  font-weight: bold !important;
}
ul.hamNav a::after {
  content: '';
  position: absolute;
  top:42%;
  right: 10px;
  width: 5px;
  height: 5px;
  border-top: 2px solid #F5F5F5;
  border-right: 2px solid #F5F5F5;
  transform: rotate(45deg);
}
ul.hamNav.clickOpen{
  right: 0;
}
/* ハンバーガーここまで */

.mainImage {
  margin: 35px auto 0;
  width: 95%;
  height: 95vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.scrolldown2{
  position:absolute;
  bottom:10px;
  left:50%;
}
.scrolldown2 span{
  position: absolute;
  left:10px;
  bottom:10px;
  color: #eee;
  font-size: 0.7rem;
  letter-spacing: 2px;
  font-weight: normal;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 丸の描写 */
.scrolldown2:before {
  content: "";
  position: absolute;
  bottom:0;
  left:-4px;
  width:10px;
  height:10px;
  border-radius: 50%;
  background:#eee;
  animation:
  circlemove 1.6s ease-in-out infinite,
  cirlemovehide 1.6s ease-out infinite;
}

@keyframes circlemove{
    0%{bottom:45px;}
   100%{bottom:-5px;}
}
@keyframes cirlemovehide{
    0%{opacity:0}
   50%{opacity:1;}
  80%{opacity:0.9;}
100%{opacity:0;}
}

/* 線の描写 */
.scrolldown2:after{
  content:"";
  position: absolute;
  bottom:0;
  left:0;
  width:2px;
  height: 50px;
  background:#eee;
}

/* ヘッダーここから */
header {
  width: 100%;
  margin: 0 auto;
}
.headerLeft {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 10;
}
.headerLeft h1 img {
  display: block;
  width: 130px;
  height: 130px;
}
.headerRight {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 10;
}
.shopingIcon {
  display: flex;
  font-size: 25px;
  padding-right: 20px;
}
.shopingIcon form {
  line-height: 65px;
  padding-right: 10px;
}
.shopingIcon form input{
  width: 180px;
  border-bottom: 1px solid #333333;
  height: 30px;
}
/* カートの指定 */
.shopingIcon .fa-cart-shopping{
  background-color: #F5F5F5;
  padding: 20px;
  transition: 0.4s;
}
.headerRight .headrList {
  text-align: right;
}

/* 共通List */
.headrList a{
  display: inline-block;
  max-width: 120px;
  width: 100%;
  margin: 0 auto;
  background-color: #F5F5F5;
  padding: 18px 10px;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 1px;
  transition: 0.6s;
}
.headerLeft.headerToggle{
  animation-name: listLeftAnimation;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
.headerRight.headerToggle{
  animation-name: listRightAnimation;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
/* 横からアニメーション */
.headrList a{
  animation-delay: .3s;
}

@keyframes listLeftAnimation {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-150px);
  }
}
@keyframes listRightAnimation {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(150px);
  }
}

/* スクロール後のheader */
.headerContainer-scroll {
  width: 100%;
  margin: 0 auto;
  height: 75px;
  padding: 1% 3%;
  background-color: rgba(245, 245, 245, .9);
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-100px);
  transition: 0.4s;
}
/* js スクロール */
.headerContainer-scroll.header-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.headerLeft-scroll {
  display: -webkit-flex;
	display: flex;
}
.headrList-scroll li{
  display: inline-block;
  line-height: 75px;
  padding-left: 15px;
}
.headerLeft-scroll img {
  width: 70px;
  height: 70px;
  display: block;
  padding-right: 15px;
}
.headrList-scroll i{
  font-size: 23px;
}
.headerRight-scroll {
  display: -webkit-flex;
	display: flex;
}
.headerRight-scroll form{
  line-height: 65px;
}
.headerRight-scroll  form input{
  width: 120px;
  border-bottom: 1px solid #333333;
  height: 30px;
}

/* ヘッダーここまで */

/* width768pxでDOCK表示 */
.dockItems {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  padding: 2%;
  background-color: #F5F5F5;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;

  display: none;
}
.dockList {
  display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
  align-items: center;
} 
.dockList li{
  text-align: center;
  padding: 1%;
}
.dockList i{
  font-size: 28px;
}
.dockList p{
  font-size: 12px;
  font-weight: normal;
  padding-top: 10px;
}

/* main */

/* 共通CSS */
.container {
  width: 100%;
  padding: 100px 2%;
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.heading {
  font-size: 30px;
  padding-top: 3px;
  padding-left: 8px;
  margin-left: 3%;
  border-left: 4px solid #333333;
}
.heading span{
  font-size: 15px;
  font-weight: normal;
  line-height: 34px;
}
.btnMore {
  font-size: 17px;
  letter-spacing: 2px;
  display: block;
  max-width: 110px;
  width: 100%;
  margin: 0 auto;
  padding-left: 5px;
  padding-bottom: 5px;
  transition: 0.4s;
  border-bottom: 1px solid #333333;
  position: relative;
}
.btnMore::after {
  content: '';
  position: absolute;
  top:30%;
  right: 5px;
  width: 5px;
  height: 5px;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  transform: rotate(45deg);
  transition: 0.5s;
}
.btnMore:hover.btnMore::after {
  right: -5px;
}

/* 重要なお知らせ */
.important-news {
  max-width: 600px;
  width: 100%;
  margin: 30px auto;
  text-align: center;
  font-size: 17px;
  font-weight: normal;
  border: 1px solid #333333;
  padding: 1% 1%;
  border-radius: 30px;
  letter-spacing: 1px;
  cursor: pointer;
}

/* About Us */
.aboutContainer {
  width: 100%;
  margin: 0 auto;
  background-color: #dddddd;
  padding: 120px 0;
}
.aboutWrap {
  max-width: 1000px;
  width: 100%;
  padding: 0 3%;
  margin: 0 auto;
  display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.aboutLeft {
  width: 48%;
}
.aboutLeft h2{
  font-size: 30px;
  letter-spacing: 2px;
}
.aboutLeft P{
  font-size: 12px;
  padding-left: 15px;
  padding-top: 5px;
}
.aboutRight {
  width: 50%;
}
.aboutRight p{
  max-width: 420px;
  width: 100%;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 1.5;
  font-family: sans-serif;
  font-weight: normal;
}

/* New iItem */
.slider {
  width:94%;
   margin: 100px auto;
}
.slider img {
   max-width:220px;
   display: block;
   margin: 0 auto;
   height:auto;
}
.slider .slick-slide {
   margin:0 10px;
}
/*矢印の設定*/
.slick-prev, 
.slick-next {
   position: absolute;
   top: 42%;
   cursor: pointer;
   outline: none;
   border-top: 2px solid #666;
   border-right: 2px solid #666;
   height: 15px;
   width: 15px;
}
.slick-prev {
   left: -1.5%;
   transform: rotate(-135deg);
}
.slick-next {
   right: -1.5%;
   transform: rotate(45deg);
}
.slick-dots {
  text-align:center;
  margin:20px 0 0 0;
}
.slick-dots li {
  display:inline-block;
  margin:0 5px;
}
.slick-dots button {
   color: transparent;
   outline: none;
   width:8px;
   height:8px;
   display:block;
   border-radius:50%;
   background:#ccc;
}
.slick-dots .slick-active button{
   background:#333;
}

/* pick Up */
.listItems {
  width: 100%;
  margin: 0 auto;
  padding: 60px 2%;
  text-align: center;
  display: -webkit-flex;
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pickupItems {
  width: 90%;
}
.pickupItems img{
  display: block;
  margin: 0 auto;
}

/* NewsItems */

.NewsItems li{
  width: 45%;
  border: 1px solid #aaaaaa;
  margin: 3px;
  transition: 0.4s;
}
.NewsItems li > a{
  display: -webkit-flex;
	display: flex;
}
.NewsItems li > a img{
  width: 100px;
  height: 100px;
  display: block;
  object-fit: cover;
}
.news-text {
  text-align: left;
  padding-top: 25px;
  padding-left: 20px;
  letter-spacing: 2px;
  font-family: sans-serif;
}
.news-day {
  font-size: 12px;
  font-weight: normal;
}
.news-event {
  font-size: 13px;
  padding-top: 15px;
  padding-right: 5px;
}

/* Topics */
.topicsItem {
  max-width: 255px;
  padding: 0 1%;
}
.topicsItem img{
  display: block;
  margin: 0 auto;
  object-fit: cover;
}
.topicsItem p{
  letter-spacing: 1px;
}
/* 左側 */
.topicsLeft {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.topicsLeft-img1 p{
  font-size: 12px;
  text-align: center;
  padding-top: 5px;
  font-weight: normal;
  padding-bottom: 5px;
}
.topicsLeft-img2 p{
  width: 100%;
  margin: 0 auto;
  padding: 25px 15px;
  font-size: 15px;
  line-height: 1.8;
  text-align: left;
  background-color: #DBD2C9;
}
/* センター */
.topicsCenter img{
  height: 100%;
}
/* 右側 */
.topicsRight {
  display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-between;
	justify-content: space-between;
  width: 100%;
}
.topicsRight-textBlock {
  background-color: #F5F5F5;
  border: 2px solid #333333;
  text-align: left;
  padding: 50px 0 50px 15px;
}
.topicsRight-text{
  width: 100%;
  margin: 0 auto;
  font-size: 30px;
  line-height: 1.3;
}
.topicsRight-text span{
  color: 	#B13546;
}

/* Category */
.category-container {
  position: relative;
}
.mens-image {
  position: absolute;
  top: 60px;
  display: block;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.categoryItems {
  padding-top: 160px;
  align-items: center;
}
.categoryItems > li{
  width: 25%;
  padding: 2%;
  transition: 0.4s;
}
.categoryItems img{
  display: block;
  margin: 0 auto;
}
.category-text {
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 2px;
  padding-top: 15px;
}

/* footer */
footer {
  width: 100%;
  border-top: 1px solid #333333;
}
.footerContaier {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.footer-sns {
  padding-top: 50px;
  font-weight: bold;
}
.footer-sns h4{
  font-size: 25px;
  letter-spacing: 2px;
}
.snsIcon i{
  font-size: 30px;
  padding-top: 10px;
  padding: 1%;
}
.footer-information {
  max-width: 900px;
  width: 100%;
  margin: 100px auto 50px;
  display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 3%;
}
.footer-information a{
  width: 20%;
  font-size: 12px;
  font-weight: normal;
}
/* マウスホバー */
@media screen and (min-width: 768px) {
  .headrList a:hover{
    display: inline-block;
    background-color: #dddddd;
  }
  .shopingIcon .fa-cart-shopping:hover {
    background-color: #dddddd;
  }
  .NewsItems li:hover{
    background-color: rgba(220,220,220,.7);
  }
  .categoryItems > li:hover img{
    transform: scale(1.03);
  }
}


/* レスポンシブここから */
@media screen and (max-width: 1091px) {
  .pickupItems {
    width: 100%;
  }
  .pickupItems li{
    width: 30%;
  }
  /* NewsItems */

.NewsItems li{
  width: 75%;
  margin: 0 auto 10px;
}


}
@media screen and (max-width: 858px) {
  .ham {
    display: block;
  }
  .headrList {
    display: none;
  }
  .headerRight {
    display: none;
  }
  .headerLeft {
    left: 5px;
  }
  .headerLeft h1 img {
    width: 100px;
    height: 100px;
  }
  .headerContainer-scroll {
    display: none;
  }
  /* Topics */
  .topicsItem {
    max-width: 220px;
    padding: 0 1%;
  }
  .topicsLeft-img2 p{
    font-size: 15px;
  }
  .topicsRight-text {
    font-size: 25px;
  }
 
}

@media screen and (max-width: 768px){
  .dockItems {
    display: block;
  }
  .container {
    padding: 60px 2%;
  }
  .heading {
    font-size: 25px;
    
  }
  .heading span{
    font-size: 13px;
  }
  /* 重要なお知らせ */
  .important-news {
    font-size: 14px;
  }
  /* Topics */
  .topicsItems{
    width: 100%;
  }
  .topicsItem {
    width: 50%;
  }
  .topicsCenter {
    display: none;
  }
  /* Category */
  .mens-image {
    width: 90%;
    margin: 0 auto;
  }
  /* footer */
  .footer-sns h4{
    font-size: 22px;
  }
  .snsIcon i{
    font-size: 30px;
    padding-top: 15px;
  }
  .footer-information {
    margin: 100px auto 120px;
  }
  .footer-information a{
    width: 33%;
    font-size: 13px;
    padding-bottom: 15px;
  }


}
@media screen and (max-width: 648px){

  /* About Us */
  .aboutContainer {
    padding: 80px 0;
  }
  .aboutLeft {
    width: 90%;
    padding-bottom: 40px;
  }
  .aboutLeft h2{
    font-size: 25px;
    letter-spacing: 2px;
  }
  .aboutLeft P{
    font-size: 12px;
    padding-left: 0;
  }
  .aboutRight {
    width: 95%;
  }
  /* New Item */
  .slider {
    width:94%;
    margin: 50px auto;
  }

  /* NewsItems */
  .NewsItems li{
    margin: 0 auto 5px;
  }
  .news-event {
    font-size: 12px;
  }
  /* Category */
  .categoryItems {
    padding-top: 100px;
  }
  .categoryItems > li{
    width: 50%;
    margin-top: 20px;
  }
  .category-text {
    font-size: 12px;
  }
  /* footer */
  .footer-information {
    margin: 80px auto 100px;
  }
  .footer-information a{
    width: 50%;
  }

}

@media screen and (max-width: 468px) {
  .container {
    padding: 30px 2%;
  }
  .headerLeft h1 img {
    width: 70px;
    height: 70px;
  }
  /* About Us */
  .aboutRight p{
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 1.6;
  }
  /* 重要なお知らせ */
  .important-news {
    width: 97%;
    margin: 20px auto;
    font-size: 10px;
    padding: 10px 0;
  }
  .important-news i {
    display: none;
  }
  /* NewsItems */
  .NewsItems {
    padding: 10px 0;
    height: 400px;
    overflow-y: auto;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .NewsItems li{
    width: 100%;
  }
  /* Topics */
  .topicsLeft-img2 p{
    font-size: 13px;
  }
  /* Category */
  .categoryItems {
    padding-top: 50px;
  }
}
